.feynman__link {
    text-decoration: none;
    color: #2f80ed;
    font-size: 36px;
    font-weight: 400;
    line-height: 51px;
    position: absolute;
    right: 48px;
    top: 50%;
    opacity: 1;
    transition: opacity 1s;
  }

.feynman__link:hover {
    opacity: 0.6;
  }