.footer__columns {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 60px 0 40px 0;
    min-height: 350px;
    color: #FFFFFF;
    box-sizing: border-box;
  }