.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #2f80ed;
    opacity: 1;
    transition: opacity 1s;
    z-index: 1;
    align-self: baseline;
}

.khan__buy-link:hover {
    opacity: 0.6;
  }